<!DOCTYPE html>
<htm>
    <head>
        <title><%=title %></title>
    </head>
    <body>
        <h1>Image Upload and Download</h1>
        <form action ='/image' method="POST" enctype="multipart/form-data">
            <input type='text' name='title'>
            <input type='file' name='image'>
            <input type='submit' value='Upload'>
        </form>
    </body>
</htm>